.img-container {
    padding: 10rem 0;
    width: 65%;
    margin: auto;
    .img-box {
        display: flex;
        align-items: center;
        width: 85%;
    }
    .img-boxx {
        margin-left: 10rem;
        display: flex;
        align-items: center;
        width: 80%;
    }
    img {
        width: 18rem;
    }
    p {
        font-size: 1.2rem;
        text-align: center;
    }
    }
